*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3eae3;
}

.box{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // text-align: center;

    .container{
        position: relative;
        height: 62vh;
        width: 42vw;
        background-color: #fff;
        border-radius: 3%;
        .img{
            // position: relative;
            // left: 0;
            float: left;
            margin-right: 2rem;
            img{
                height: 62vh;
                width: 21vw;
                border-radius: 3% 0 0 3%;
            }
            .b{
                display: none;
            }
        }
        .dec{
            position: relative;
            // width: fit-content;
            // width: 21vw;
            // height: 62vh;
            display: flex;
            flex-direction: column;
            float: left;
            top: 2rem;
            h3{
                position: absolute;
                font-size: .7rem;
                text-transform: uppercase;
                letter-spacing: 0.5rem;
                color: #868896;
            }
            h1{
                margin-top: 1.5rem;
                font-size: 2.3rem;
                float: left;
                font-weight: 800;
                text-transform:capitalize;
            }
            p{
                margin-top: 1.5rem;
                font-size: 1.1rem;
                float: left;
                color: #868896;

            }
            .price{
                position: relative;
                top: 1.5rem;
                display: flex;
                flex-direction: row;
                // justify-content: space-between;
                align-items: center;

                h4{
                    font-size: 2.5rem;
                    color: #3b836b;
                    margin-right: 1.8rem;
                }
                h6{
                    position: relative;
                    float: right;
                    font-size: 1rem;
                    text-decoration:line-through;
                    color: #868896;
                    font-weight: 100;
                }
            }
            button{
                position: relative;
                top: 2.5rem;
                width: 16vw;
                height: 7vh;
                border-radius: 10px;
                background-color: #3d8168;
                border:none;
                color: #fff;
                font-size: 20px;
                img{
                    margin-right: 10px;
                    width: 1rem;
                }
            }
        }
    }
}


@media (width <=1000px){
    .box{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // text-align: center;

    .container{
        position: relative;
        height: 90vh;
        width: 90vw;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        .img{
            position: relative;
            top: 0rem;
            left: 0;
            float: left;
            margin-right: 2rem;
            img{
                overflow: auto;
                height: 31vh;
                width: 90vw;
                border-radius: 10px 10px 0 0;
                .a{
                    display: none;
                }
                .b{
                    display: block;
                }
            }
        }
        .dec{
            position: relative;
            width: auto;
            height: auto;
            // width: 21vw;
            // height: 62vh;
            left: 2rem;
            display: flex;
            flex-direction: column;
            float: left;
            top: 1.5rem;
            h3{
                position: absolute;
                font-size: 1rem;
                text-transform: uppercase;
                letter-spacing: 0.5rem;
                color: #868896;
            }
            h1{
                margin-top: 2rem;
                font-size:2.2rem;
                float: left;
                font-weight: 700;
                line-height: .9;
                text-transform:capitalize;
            }
            p{
                margin-top: 1.2rem;
                font-size: 1.1rem;
                float: left;
                color: #868896;

            }
            .price{
                position: relative;
                top: 1.4rem;
                display: flex;
                flex-direction: row;
                // justify-content: space-between;
                align-items: center;

                h4{
                    font-size: 2.5rem;
                    color: #3b836b;
                    margin-right: 1.8rem;
                }
                h6{
                    position: relative;
                    float: right;
                    font-size: 1.2rem;
                    text-decoration:line-through;
                    color: #868896;
                    font-weight: 100;
                }
            }
            button{
                position: relative;
                // top: 37rem;
                bottom: 1rem;
                width: 73vw;
                height: 7vh;
                border-radius: 10px;
                background-color: #3d8168;
                border:none;
                color: #fff;
                // font-size: 20px;
                img{
                    margin-right: 10px;
                    width: 1rem;
                }
            }
        }
    }
}
}